@tailwind base;
@tailwind components;
@tailwind utilities;

.char-active:before {
    content: "|";
    @apply animate-pulse text-primary absolute -left-1 ease-in
}

.char-nontyped {
    @apply text-gray-500 no-underline
}

.container {
    @apply w-10/12 
    sm:w-540
    md:w-720
    lg:w-960
    xl:w-1140
    2xl:w-1320 
}

.sentence-wrap {
    @apply flex flex-wrap justify-between flex-row  font-semibold text-neutral tracking-widest ease-in text-lg md:text-xl lg:text-2xl
}

.sentence-wrap-loading {
    @apply flex flex-wrap justify-between flex-row text-2xl font-semibold text-neutral tracking-widest ease-in animate-pulse
}