@tailwind base;
@tailwind components;
@tailwind utilities;

.word {
    letter-spacing: 3px;
    @apply inline-flex mr-4 mb-1 relative border-b-2 border-transparent
}

.word.wrong{
    @apply border-b-2 border-error box-border
}
.letter {
    @apply relative text-2xl text-neutral-400
}
.letter.current:before {
    content: "";
    width: 2px;
    left: -2px;
    @apply animate-pulse-fast text-primary absolute ease-in text-2xl  h-full bg-primary rounded-md
}

.letter.correct {
    @apply text-neutral
}
.letter.wrong {
    @apply text-error
}

.char-nontyped {
    @apply text-gray-500 no-underline
}

.container {
    @apply w-10/12 
    sm:w-540
    md:w-720
    lg:w-960
    xl:w-1140
    2xl:w-1320 
    px-8
    h-full
}

.wrap-content {
    @apply flex justify-center items-center h-full flex-col gap-10
}

.time-wpm {
    @apply flex justify-start w-full gap-10 text-2xl font-medium text-accent
}

.game {
    @apply outline-none overflow-hidden h-28 px-1
}

.new-game-btn {
    @apply text-2xl text-gray-500 hover:text-neutral
}